node_modules/
dist/
.DS_Store
*.log
.idea/
.vscode/
android/.gradle/
android/local.properties
android/app/build/
android/build/
ios/App/Pods/
ios/App/DerivedData/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
*.keystore
*.jks
*.p12
*.mobileprovision
.env
.env.*
!.env.example
